// color table - nihon
$azu: #877F6C
$hai: rgb(130, 130, 130)
$kurotobi: rgb(85, 66, 54)
$haizakura: rgb(215, 196, 187)
$shironeri: rgb(252, 250, 242)
$ginnezumi: rgb(145, 152, 159)
$shironezumi: rgb(189, 192, 186)
// color table - self
$black: #444
$little_black: #666
$gray: #d4d4d4
$far_gray: #f1f1f1

// mixin
// set for decoration line
=line($style)
    margin-left: -0.8em
    padding: 0.5em 0.5em
    border-left: 0.3em $style $shironezumi

// base font size
html
    font-size: 16px
    @media (max-width: 480px)
        font-size: 32px

body
    overflow-y: scroll
    color: $black

nav
    &.nav-bar
        display: grid
        grid:
            template-columns: repeat(4, 5em)
            gap: 0.5em
        width: 5em * 4 + 0.5em * 3
        margin:
            top: 1em
            left: 3em
            right: auto
        border-top: $black solid 0.2em
        @media (min-width: 600px) and (max-width: 1000px)
            margin-left: 2em
        @media (min-width: 1000px)
            right: 0
            float: right
            margin-right: 19em
    button
        padding: 0.5em 0.4em 0.6em
        transition:
            property: all
            duration: 0.3s
            timing-function: ease-out
        &.active, .mark
            background-color: $black
            color: white
        .unmark
            color: $little_black
        &.disable
            color: $gray
        &.disable, &.current
            pointer-events: none
        &:not(.active):hover
            background-color: $gray

main
    padding:
        left: 1em
        top: 4em
    @media (min-width: 600px) and (max-width: 1000px)
        padding:
            left: 2em
            right: 5em
    @media (min-width: 1000px)
        padding:
            left: 20em
            right: 20em
    article
        blockquote
            +line(double)
            font-family: initial!important
            dfn
                font-weight: normal!important
            p
                margin: 0
        dfn
            font-style: initial
            text-decoration: underline dashed $shironezumi
        pre // code block
            +line(solid)
            display: block
            background-color: $far_gray
        code.inline-code
            border: 0.1em dashed $shironezumi
        hr
            background-color: $gray
            height: 1px
            border: none
    .post-nav
        margin:
            top: 1.25em
            left: -0.5em
        display: grid
        grid:
            template-columns: repeat(2, 3em)
            gap: 1.5em
    .post-title button
        padding: 0
        transform: perspective(1px) translateZ(0)
        &::before
            content: ""
            position: absolute
            z-index: -1
            left: 0
            right: 0
            bottom: 0
            width: 0.7rem
            background: $black
            height: 0.15em
            transition:
                property: width
                duration: 0.6s
                timing-function: ease-out
        &:hover::before
            width: 4rem
    &.post-list
        time
            display: inline-block
            width: 5.5em
        .category
            margin-left: 1em
            padding: 0.3em 0.5em
            color: white
            background-color: $black
        article
            padding-bottom: 2em
            border-bottom: solid 0.05em $gray
        article:nth-last-of-type(1)
            border: none

// base style
button  // reset default button style
    text-align: left
    margin: 0
    border: none
    outline: none
    background: none

a
    color: $black
    &:visited
        color: $black
    &:hover
        color: $black
        border-bottom: solid $black 0.1em
    &::after
        content: ""
        position: absolute

// load animation
.bubblingG
    margin: auto
    margin-top: 20em
    text-align: center
    width:190px
    height:119px
    span
        display: inline-block
        vertical-align: middle
        width: 24px
        height: 24px
        margin: 59px auto
        border-radius: 119px
        background: rgb(0,0,0)
        animation: bubblingG 1.5s infinite alternate
    @for $i from 0 to 3
        #bubblingG_#{$i}
            animation-delay: 0.45s * $i

@keyframes bubblingG
    0%
        width: 24px
        height: 24px
        background-color: rgb(0,0,0)
        transform: translateY(0)
    100%
        width: 57px
        height: 57px
        background-color: rgb(255,255,255)
        transform: translateY(-50px)
