// base style
// reset default button style
button {
  margin: 0;
  border: none;
  outline: none;
  background: none;
}

// load animation
.bubblingG {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 190px * -0.5;
  margin-left: 120px * -0.5;
  text-align: center;
  width: 190px;
  height: 120px;
  span {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    margin: 59px auto;
    border-radius: 119px;
    background: rgb(0, 0, 0);
    animation: bubblingG 1.5s infinite alternate;
  }
  @for $i from 0 to 3 {
    #bubblingG_#{$i} {
      animation-delay: 0.45s * $i;
    }
  }
}

@keyframes bubblingG {
  0% {
    width: 24px;
    height: 24px;
    background-color: rgb(0, 0, 0);
    transform: translateY(0);
  }
  100% {
    width: 57px;
    height: 57px;
    background-color: rgb(255, 255, 255);
    transform: translateY(-50px);
  }
}
